@using MVCDemo.CustomHtmlHelpers

<div>

    <div>
        <h1>Test - Home/Index</h1>
    </div>
    <br />
    <div id="divHomeDescription">
        <div>Interaktywne Książki - Aplikacja Dyplomowa. Zaimplementowane funkcjonalności:</div>
        <ul>
            <li>Wyszukiwarki książek</li>
            <li>Dynamiczne menu</li>
            <li>System uwierzytelniania</li>
            <li>System obsługi Interaktywnych Książek</li>
        </ul>
    </div>

</div>

@section Scripts
{
    <script src="~/Scripts/Home/Index.js"></script>
}